* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4b4bd;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.amount input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6a1b1b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.msg {
  margin: 15px 0;
  font-weight: bold;
}
.error {
  color: red;
}